# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.cfg

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/

node_modules/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# Cython debug symbols
cython_debug/


.ruff_cache/
.antigravitycli/

scratch/